@page "/about"

<PageTitle>About</PageTitle>

<style>
    ::deep .fluent-text-field label {
        font-weight: bold;
        margin-bottom: 0.25rem;
    }

    .form-field {
        margin-bottom: 1rem;
    }
</style>

<h1>3 Step Signup:</h1>

<br />
<br />

1.  Send us your email address, and a secure volunteeer signup link will be sent to your inbox.
<br />
<br />
2.  Click the secure link, and you will be taken to our volunteer signup form.
<br />
<br />
3.  Submit your basic contact info, and you will be sent a welcome email with specifics on how you can get started.